<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/sass/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/pages/typography.html">Typography</a></li>
            <li><a href="/pages/transform.html">Transform</a></li>
            <li><a href="/pages/transition.html">Transition</a></li>
            <li><a href="/pages/animation.html">Animation</a></li>
            <li class="about"><a href="/pages/about.html">About</a></li>
        </ul>
    </nav>
</body>
</html>