[class^=transition] {
  height: 100px;
  width: 100px;
  background: red;
  color: white;
  font-size: 15px;
}

.transition-width {
  transition: width 10s;
}

.transition-width:hover {
  width: 1000px;
}

.transition-width-height {
  transition: width 2s, height 12s;
}

.transition-width-height:hover {
  width: 1000px;
  height: 400px;
}

[class*=transition-timing] {
  transition: width 5s;
}

[class*=transition-timing]:hover {
  width: 500px;
}

.transition-timing-function-ease {
  transition-timing-function: ease;
}

.transition-timing-function-linear {
  transition-timing-function: linear;
}

.transition-timing-function-ease-in {
  transition-timing-function: ease-in;
}

.transition-timing-function-ease-out {
  transition-timing-function: ease-out;
}

.transition-timing-function-ease-in-out {
  transition-timing-function: ease-in-out;
}

.transition-timing-function-cubic-bezier {
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.56, 0.42);
}

.transition-delay {
  transition: width 3s;
  transition-delay: 1s;
}

.transition-delay:hover {
  width: 31.25rem;
}

.transition-transform {
  transition: width 2s, height 2s, transform 2s;
}

.transition-transform:hover {
  width: 300px;
  height: 300px;
  transform: rotate(360deg);
}

.transition-all {
  transition-property: width;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}

.transition-all:hover {
  width: 300px;
}

.transition-shorthand {
  transition: width 3s ease-in 1s;
}

.transition-shorthand:hover {
  width: 300px;
}

[class^=transform] {
  height: 100px;
  width: 100px;
  background: red;
  color: white;
  font-size: 15px;
}

.transform-translate {
  transform: translate(50px, 100px);
}

.transform-rotate {
  transform: rotate(20deg);
}

.transform-rotateZ {
  transform: rotateZ(90deg);
}

.transform-scale {
  transform: scale(2, 2);
  margin: auto;
}

.transform-skew {
  transform: skew(20deg, 10deg);
}

[class^=animation] {
  height: 100px;
  width: 100px;
  color: white;
  font-size: 15px;
  background-color: red;
}

.elementPath {
  height: 320px;
}

.elementPath-timing {
  height: 560px;
}

.animation-colorChange {
  -webkit-animation-name: colorChange;
          animation-name: colorChange;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@-webkit-keyframes colorChange {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

@keyframes colorChange {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
.animation-colorChange-percentage {
  -webkit-animation-name: percentage;
          animation-name: percentage;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@-webkit-keyframes percentage {
  0% {
    background-color: red;
  }
  25% {
    background-color: black;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

@keyframes percentage {
  0% {
    background-color: red;
  }
  25% {
    background-color: black;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
.animation-color-position {
  -webkit-animation-name: colorPosition;
          animation-name: colorPosition;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  position: relative;
}

@-webkit-keyframes colorPosition {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes colorPosition {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.animation-delayed {
  -webkit-animation-name: animationDelayed;
          animation-name: animationDelayed;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-color: red;
}

@-webkit-keyframes animationDelayed {
  0% {
    background-color: red;
  }
  25% {
    background-color: aquamarine;
  }
  50% {
    background-color: aqua;
  }
  75% {
    background-color: greenyellow;
  }
  100% {
    background-color: green;
  }
}

@keyframes animationDelayed {
  0% {
    background-color: red;
  }
  25% {
    background-color: aquamarine;
  }
  50% {
    background-color: aqua;
  }
  75% {
    background-color: greenyellow;
  }
  100% {
    background-color: green;
  }
}
.animation-negative-delay {
  -webkit-animation-name: animationDelayed;
          animation-name: animationDelayed;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

@keyframes animationDelayed {
  0% {
    background-color: red;
  }
  25% {
    background-color: aquamarine;
  }
  50% {
    background-color: aqua;
  }
  75% {
    background-color: greenyellow;
  }
  100% {
    background-color: green;
  }
}
.animation-iteration-count {
  -webkit-animation-name: iteration3x;
          animation-name: iteration3x;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  position: relative;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes iteration3x {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes iteration3x {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.animation-iteration-count-infinite {
  -webkit-animation-name: iterationInfinite;
          animation-name: iterationInfinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  position: relative;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes iterationInfinite {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes iterationInfinite {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.animation-direction-reverse {
  -webkit-animation-name: reverseAnimation;
          animation-name: reverseAnimation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  animation-direction: reverse;
  position: relative;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes reverseAnimation {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes reverseAnimation {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.animation-direction-alternate {
  -webkit-animation-name: alternateAnimation;
          animation-name: alternateAnimation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: relative;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes alternateAnimation {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes alternateAnimation {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.animation-direction-alternate-reverse {
  -webkit-animation-name: alternateReverse;
          animation-name: alternateReverse;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  animation-direction: alternate-reverse;
  position: relative;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes alternateReverse {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes alternateReverse {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
[class*=animation-timing] {
  -webkit-animation-name: timingFunction;
          animation-name: timingFunction;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
}

@-webkit-keyframes timingFunction {
  0% {
    background-color: red;
    left: 0px;
  }
  50% {
    background-color: green;
    left: 500px;
  }
  100% {
    background-color: red;
    left: 0px;
  }
}

@keyframes timingFunction {
  0% {
    background-color: red;
    left: 0px;
  }
  50% {
    background-color: green;
    left: 500px;
  }
  100% {
    background-color: red;
    left: 0px;
  }
}
.animation-timing-function-ease {
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.animation-timing-function-linear {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.animation-timing-function-ease-in {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.animation-timing-function-ease-out {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.animation-timing-function-ease-in-out {
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

[class*=animation-fill] {
  -webkit-animation-name: fillMode;
          animation-name: fillMode;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  position: relative;
}

@-webkit-keyframes fillMode {
  from {
    background-color: red;
    left: 0px;
  }
  to {
    background-color: green;
    left: 500px;
  }
}

@keyframes fillMode {
  from {
    background-color: red;
    left: 0px;
  }
  to {
    background-color: green;
    left: 500px;
  }
}
.animation-fill-mode-forwards {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.animation-fill-mode-backwards {
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.animation-fill-mode-both {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--backgroud-color);
  color: var(--text-color);
}

ol, ul {
  list-style: none;
  font-size: 1.125rem;
  text-decoration: none;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

pre {
  color: red;
  text-align: left;
}
pre span {
  color: rgb(71, 71, 71);
  opacity: 0.7;
}

.tags {
  color: green;
  font-weight: bold;
}

.attr {
  color: red;
  font-weight: bold;
}

.attr-value {
  color: blue;
  font-weight: bold;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navbar li {
  float: left;
}
.navbar li a, .navbar .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}
.navbar li a:hover, .navbar .dropdown:hover .dropbtn {
  background-color: red;
}
.navbar li.dropdown {
  display: inline-block;
}
.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 6px;
}
.navbar .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.navbar .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.navbar .dropdown:hover .dropdown-content {
  display: block;
}
.navbar .home {
  margin-left: 30px;
}
.navbar .about {
  float: right;
  margin-right: 30px;
  z-index: 1;
}

.simple-tooltip {
  position: relative;
  display: inline-block;
}
.simple-tooltip .tooltipText {
  visibility: hidden;
  width: 180px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.simple-tooltip:hover .tooltipText {
  visibility: visible;
}

.positioned-tooltip {
  position: relative;
  display: inline-block;
}
.positioned-tooltip .tooltipText {
  visibility: hidden;
  width: 180px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.positioned-tooltip:hover .tooltipText {
  visibility: visible;
}

.right-positioned-tooltip {
  position: relative;
  display: inline-block;
}
.right-positioned-tooltip .tooltipText {
  visibility: hidden;
  width: 180px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.right-positioned-tooltip:hover .tooltipText {
  visibility: visible;
}

.top-tooltip {
  position: relative;
  display: inline-block;
}
.top-tooltip .tooltipText {
  visibility: hidden;
  width: 180px;
  background-color: grey;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -90px;
}

.top-tooltip:hover .tooltipText {
  visibility: visible;
}

.bottom-tooltip {
  position: relative;
  display: inline-block;
}
.bottom-tooltip .tooltipText {
  visibility: hidden;
  width: 180px;
  color: #fff;
  text-align: center;
  background-color: grey;
  border-radius: 6px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -90px;
}

.bottom-tooltip:hover .tooltipText {
  visibility: visible;
}

.img-style {
  text-align: center;
}

[class$=img] {
  max-width: 800px;
}

.rounded-border-img {
  border-radius: 25px;
}

.rounded-img {
  border-radius: 50%;
}

.thumbnail-img, .link-img {
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
}

[class*=position] {
  border: 3px solid #73AD21;
}

.position-static {
  position: static;
}

.position-relative {
  position: relative;
  left: 100px;
}

.position-fixed {
  width: 300px;
  color: white;
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: blue;
}

.position-relative-parent {
  position: relative;
  width: 750px;
  height: 150px;
}

.position-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}

.overflow-item {
  background-color: antiquewhite;
  width: 400px;
  height: 150px;
  border: 1px black;
  overflow: scroll;
}

.position-sticky {
  background-color: aqua;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.topright {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.bottomright {
  position: absolute;
  bottom: 20px;
  right: 50px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.bottomleft {
  position: absolute;
  bottom: 20px;
  left: 50px;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.middle {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.nth li:nth-child(3) {
  color: red;
}

.first-line::first-line {
  color: green;
}

.first-letter::first-letter {
  color: blue;
}

p.elem-class {
  color: red;
}

.grp-1, .grp-2 {
  color: red;
}

.text-shadow {
  text-shadow: 5px 5px;
  font-size: 22px;
}

.color-shadow {
  text-shadow: 5px 5px red;
  font-size: 22px;
}

.blur-effect {
  text-shadow: 3px 3px 5px blue;
  font-size: 22px;
}

.whiteText-blackShadow {
  color: white;
  text-shadow: 2px 2px 4px black;
  font-size: 22px;
}

.neon-effect {
  color: #0d0d55;
  font-size: 22px;
  text-shadow: 0 0 3px red;
}

.multi-shadow {
  color: black;
  font-size: 22px;
  text-shadow: 3px 3px 3px grey, -3px 3px 3px blue, -3px -3px 3px green, 3px -3px 3px navy;
}

.glow-container {
  background-color: #1D2A35;
  margin: auto;
  width: 500px;
  height: 40px;
  font-size: 22px;
}

.glow-shadow {
  color: white;
  font-size: 22px;
  position: relative;
  top: 8px;
  text-shadow: 1px 1px 2px black, 0 0 30px rgb(3, 3, 103), 0 0 2px #0d0dc5, 0 0 25px blue;
}

.text-bordering {
  color: orangered;
  font-size: 18px;
  text-shadow: 1px 0 black, -1px 0 black, 0 -1px black, 0 1px black;
}

[class*=box-shadow] {
  background-color: orangered;
  height: 75px;
  width: 200px;
  margin: auto;
}

.simple-box-shadow {
  box-shadow: 3px 3px;
}

.blur-box-shadow {
  box-shadow: 3px 3px 5px;
}

.color-box-shadow {
  box-shadow: 3px 3px 5px blue;
}

.spread-box-shadow {
  box-shadow: 3px 3px 2px 10px #3d3b3b;
}

.inset-box-shadow {
  box-shadow: -5px -5px 2px 5px inset;
}

[class*=multiple-box-shadow] {
  background-color: white;
  border: 1px solid black;
  box-shadow: 5px 5px blue, 10px 10px green, 15px 15px red;
}

.blur-multiple-box-shadow {
  box-shadow: 5px 5px 2px blue, 10px 10px 3px green, 15px 15px 4px red;
}

div.polaroid {
  width: 40%;
  background-color: white;
  margin: 25%;
  box-shadow: 2px 6px 2px 5px rgba(0, 0, 0, 0.2), 5px 8px 8px 3px rgba(0, 0, 0, 0.15);
  margin: auto;
}
div.polaroid .polaroid-text {
  text-align: center;
  padding: 10px 20px;
}

.shadow, .boxShadow {
  text-align: center;
}/*# sourceMappingURL=style.css.map */