[class^=transition] {
  height: 100px;
  width: 100px;
  background: red;
  color: white;
  font-size: 15px;
}

.transition-width {
  transition: width 10s;
}

.transition-width:hover {
  width: 1000px;
}

.transition-width-height {
  transition: width 2s, height 12s;
}

.transition-width-height:hover {
  width: 1000px;
  height: 400px;
}

[class*=timing] {
  transition: width 5s;
}

[class*=timing]:hover {
  width: 500px;
}

.transition-timing-function-ease {
  transition-timing-function: ease;
}

.transition-timing-function-linear {
  transition-timing-function: linear;
}

.transition-timing-function-ease-in {
  transition-timing-function: ease-in;
}

.transition-timing-function-ease-out {
  transition-timing-function: ease-out;
}

.transition-timing-function-ease-in-out {
  transition-timing-function: ease-in-out;
}

.transition-timing-function-cubic-bezier {
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.56, 0.42);
}

.transition-delay {
  transition: width 3s;
  transition-delay: 1s;
}

.transition-delay:hover {
  width: 500px;
}

.transition-transform {
  transition: width 2s, height 2s, transform 2s;
}

.transition-transform:hover {
  width: 300px;
  height: 300px;
  transform: rotate(360deg);
}

.transition-all {
  transition-property: width;
  transition-duration: 5s;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
}

.transition-all:hover {
  width: 300px;
}

.transition-shorthand {
  transition: width 3s ease-in 1s;
}

.transition-shorthand:hover {
  width: 300px;
}

[class^=transform] {
  height: 100px;
  width: 100px;
  background: red;
  color: white;
  font-size: 15px;
}

.transform-translate {
  transform: translate(50px, 100px);
}

.transform-rotate {
  transform: rotate(20deg);
}

.transform-rotateZ {
  transform: rotateZ(90deg);
}

.transform-scale {
  transform: scale(2, 2);
  margin: auto;
}

.transform-skew {
  transform: skew(20deg, 10deg);
}

[class^=animation] {
  height: 100px;
  width: 100px;
  background: red;
  color: white;
  font-size: 15px;
}

.animation-colorChange {
  -webkit-animation-name: colorChange;
          animation-name: colorChange;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@-webkit-keyframes colorChange {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}

@keyframes colorChange {
  from {
    background-color: red;
  }
  to {
    background-color: yellow;
  }
}
.animation-colorChange-percentage {
  -webkit-animation-name: percentage;
          animation-name: percentage;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@-webkit-keyframes percentage {
  0% {
    background-color: red;
  }
  25% {
    background-color: black;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

@keyframes percentage {
  0% {
    background-color: red;
  }
  25% {
    background-color: black;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
.elementPath {
  height: 320px;
}

.animation-color-position {
  -webkit-animation-name: colorPosition;
          animation-name: colorPosition;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  position: relative;
}

@-webkit-keyframes colorPosition {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}

@keyframes colorPosition {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: black;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
.animation-delayed {
  -webkit-animation-name: animationDelayed;
          animation-name: animationDelayed;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes animationDelayed {
  0% {
    background-color: white;
  }
  25% {
    background-color: aquamarine;
  }
  50% {
    background-color: aqua;
  }
  75% {
    background-color: greenyellow;
  }
  100% {
    background-color: green;
  }
}

@keyframes animationDelayed {
  0% {
    background-color: white;
  }
  25% {
    background-color: aquamarine;
  }
  50% {
    background-color: aqua;
  }
  75% {
    background-color: greenyellow;
  }
  100% {
    background-color: green;
  }
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--backgroud-color);
  color: var(--text-color);
}

ol, ul {
  list-style: none;
  font-size: 18px;
  text-decoration: none;
}
a,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

pre {
  color: red;
}

nav ul {
  background-color: #333;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left;
}
nav ul li a {
  display: block;
  text-align: center;
  color: white !important;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul .about {
  float: right;
}
nav ul li a:hover {
  background-color: #111;
}/*# sourceMappingURL=style.css.map */