<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sass/style.css">
    <title>Grid</title>
</head>
<body>
    <h2><a href="/index.html">Home</a></h2>
    <h1>grid</h1>
    <h2>To added grid layout, First grid container and grid-item are added.</h2>
    <p>grid container and grid-items are added by adding simple class to div elements.</p>
    <br>
    <h2>configuration of container.</h2>
    <ul>
        <li><span class="attr">display: </span><span class="attr-value">grid;</span> = grid layout as block.</li>
        <li><span class="attr">display: </span><span class="attr-value">inline-grid;</span> = grid layout as inline component.</li>
        <li><span class="attr">gap: </span><span class="attr-value">value in px;</span> = sets gap between grid items.</li>
        <li><span class="attr">colum-gap: </span><span class="attr-value">px;</span> = sets gap value between items for colum.</li>
        <li><span class="attr">row-gap: </span><span class="attr-value">px;</span> = sets gap value between items for row.</li>
        <li><span class="attr">grid-colum-start: </span><span class="attr-value">1;</span> = tells that grid item will start from line 1.</li>
        <li><span class="attr">grid-colum-end: </span><span class="attr-value">4;</span> = tells that grid item will end at line 4 and make 3 grid items.</li>
        <li><span class="attr">grid-row-start: </span><span class="attr-value">1;</span> = tells that grid item will start from line 1.</li>
        <li><span class="attr">grid-row-end: </span><span class="attr-value">4;</span> = tells that grid item will end at line 4 and make 3 grid item long row wise.</li>
        <li><span class="attr">grid-template-column: </span><span class="attr-value">auto auto px px</span> = create 4 column, two automatically resize, other 2 are fixed with specific px</li>
        <li><span class="attr">grid-template-row:</span><span class="attr-value">auto auto px px</span> = create 4 row, two automatically resize, other 2 are fixed with specific px</li>
    </ul>
    <br>




    <h2>justify-content for grid container.</h2>
    <ul>
        <li><span class="attr">justify-content: </span><span class="attr-value">space-evenly;</span> = give space to item in around them horizontally.</li>
        <li><span class="attr">justify-content: </span><span class="attr-value">space-around;</span> = give space to item in around them horizontally.</li>
        <li><span class="attr">justify-content: </span><span class="attr-value">space-between;</span> = give space to item in between them horizontally.</li>
        <li><span class="attr">justify-content: </span><span class="attr-value">center;</span> = will align the items horizontally at the center.</li>
        <li><span class="attr">justify-content: </span><span class="attr-value">start;</span> = will align the items horizontally at the beginning.</li>
        <li><span class="attr">justify-content: </span><span class="attr-value">end;</span> = will align the items horizontally at the end.</li>
    </ul><br>

    <h2>align-content: helps to align items of grid vertically.</h2>
    <ul>
        <li><span class="attr">align-content: </span><span class="attr-value">space-evenly;</span> = give space to item in between and around them vertically.</li>
        <li><span class="attr">align-content: </span><span class="attr-value">space-around;</span> = give space to item in around them vertically.</li>
        <li><span class="attr">align-content: </span><span class="attr-value">space-between;</span> = give space to item in between them vertically.</li>
        <li><span class="attr">align-content: </span><span class="attr-value">center;</span> = align the items vertically in the middle.</li>
        <li><span class="attr">align-content: </span><span class="attr-value">end;</span> = align the items vertically in the bottom.</li>
        <li><span class="attr">align-content: </span><span class="attr-value">start;</span> = align the items vertically in the top.</li>
    </ul><br>

    <h2>grid item</h2>
    <p>these settings are applicable to grid items, to configure them.</p>
    <ul>
        <li><span class="attr">grid-column: </span><span class="attr-value">1 / 5;</span> = first value refers the start line of start point, second refer to the end of the item and which line.</li>
        <li><span class="attr">grid-column: </span><span class="attr-value">1 / span 3;</span> = first value refers the start line of start point, second refer span 3 column.</li>
        <li><span class="attr">grid-row: </span><span class="attr-value">1 / 5;</span> = first value refers the start line of start point, second refer last line where grid item will end at row 5.</li>
        <li><span class="attr">grid-row: </span><span class="attr-value">1 / span 3;</span> = first value refers the start line of start point, second refer span 3 row.</li>
        <li><span class="attr">grid-area: </span><span class="attr-value">1 / 3 / 1 / 4;</span> = shorthand property for grid-row-start, grid-column-start, grid-row-end and the grid-column-end.</li>
        <li><span class="attr">grid-area: </span><span class="attr-value">1 / 1 / span 3 / span 4;</span> = used with span values.</li>
    </ul><br>

    <h2>Naming the grid item</h2>
    <p>following item takes the name mainArea, spans 4 grid column.</p>
    <code>
        <pre>
            .item2 {
                grid-area: mainArea:
            }

            .container {
                grid-template-areas:  'mainArea mainArea mainArea mainAre';
            }
        </pre>
    </code><br>

    <h2>adding name with those who have no name</h2>
    <p>a period sign (.) represents the grid item with no name. 3 periods mean that the rest of the column is occupied by item those have no name.</p>
    <code>
        <pre>
            .item2 {
                grid-area: mainArea;
            }

            .container {
                grid-template-areas: mainArea mainArea . . .;
            }
        </pre>
    </code><br>

    <h2>logical way of using grid name</h2>
    <code>
        <pre>
            .item1 { grid-area: header; }
            .item2 { grid-area: menu; }
            .item3 { grid-area: main; }
            .item4 { grid-area: right; }
            .item5 { grid-area: footer; }

            .grid-container {
            grid-template-areas:
            'header header header header header header'
            'menu main main main right right'
            'menu footer footer footer footer footer';
}
        </pre>
    </code>


</body>
</html>