@mixin animation-box {
    height: 100px;
    width: 100px;
    color: white;
    font-size: 15px;
    background-color: red;
}

.elementPath {
    height: 320px;
}

.elementPath-timing {
    height: 560px;
}

.animation-colorChange {
    animation-name: colorChange;
    animation-duration: 10s;
}

@keyframes colorChange {
    from {background-color: red;}
    to {background-color: yellow;}
}

.animation-colorChange-percentage {
    @include animation-box;
    animation-name: percentage;
    animation-duration: 10s;
}

@keyframes percentage {
    0% {background-color: red;}
    25% {background-color: black;}
    50% {background-color: blue;}
    100% {background-color: green;}
}



.animation-color-position {
    @include animation-box;
    animation-name: colorPosition;
    animation-duration: 10s;
    position: relative;
}

@keyframes colorPosition {
    0% {background-color: red; left:0px; top:0px}
    25% {background-color: black; left:200px; top:0px}
    50% {background-color: blue; left:200px; top:200px}
    75% {background-color: green; left:0px; top:200px}
    100% {background-color: red; left:0px; top:0px}
}

.animation-delayed {
    @include animation-box;
    animation-name: animationDelayed;
    animation-duration: 10s;
    animation-delay: 2s;
    background-color: red;
}

@keyframes animationDelayed {
    0% {background-color: red;}
    25% {background-color: aquamarine;}
    50% {background-color: aqua;}
    75% {background-color: greenyellow;}
    100% {background-color: green;}
}
// above box begins as red, because the all selector at first styling selected as red

.animation-negative-delay {
    @include animation-box;
    animation-name: animationDelayed;
    animation-duration: 10s;
    animation-delay: -2s;
}

@keyframes animationDelayed {
    0% {background-color: red;}
    25% {background-color: aquamarine;}
    50% {background-color: aqua;}
    75% {background-color: greenyellow;}
    100% {background-color: green;}
}

// animation iteration count
.animation-iteration-count {
    @include animation-box;
    animation-name: iteration3x;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: 3;
}

@keyframes iteration3x {
    0% {background-color: red; left:0px; top:0px}
    25% {background-color: black; left:200px; top:0px}
    50% {background-color: blue; left:200px; top:200px}
    75% {background-color: green; left:0px; top:200px}
    100% {background-color: red; left:0px; top:0px}
}

.animation-iteration-count-infinite {
    @include animation-box;
    animation-name: iterationInfinite;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes iterationInfinite {
    0% {background-color: red; left:0px; top:0px}
    25% {background-color: black; left:200px; top:0px}
    50% {background-color: blue; left:200px; top:200px}
    75% {background-color: green; left:0px; top:200px}
    100% {background-color: red; left:0px; top:0px}
}

//animation-direction
.animation-direction-reverse {
    @include animation-box;
    animation-name: reverseAnimation;
    animation-duration: 3s;
    animation-direction: reverse;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes  reverseAnimation {
    0% {background-color: red; left:0px; top:0px}
    25% {background-color: black; left:200px; top:0px}
    50% {background-color: blue; left:200px; top:200px}
    75% {background-color: green; left:0px; top:200px}
    100% {background-color: red; left:0px; top:0px}
}

.animation-direction-alternate {
    @include animation-box;
    animation-name: alternateAnimation;
    animation-duration: 3s;
    animation-direction: alternate;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes  alternateAnimation {
    0% {background-color: red; left:0px; top:0px}
    25% {background-color: black; left:200px; top:0px}
    50% {background-color: blue; left:200px; top:200px}
    75% {background-color: green; left:0px; top:200px}
    100% {background-color: red; left:0px; top:0px}
}

.animation-direction-alternate-reverse {
    @include animation-box;
    animation-name: alternateReverse;
    animation-duration: 3s;
    animation-direction: alternate-reverse;
    position: relative;
    animation-iteration-count: infinite;
}

@keyframes  alternateReverse {
    0% {background-color: red; left:0px; top:0px}
    25% {background-color: black; left:200px; top:0px}
    50% {background-color: blue; left:200px; top:200px}
    75% {background-color: green; left:0px; top:200px}
    100% {background-color: red; left:0px; top:0px}
}

//animation-timing-function
[class*="animation-timing"] {
    @include animation-box;
    animation-name: timingFunction;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes timingFunction {
    0% {background-color: red; left: 0px;}
    50% {background-color: green; left: 500px;}
    100% {background-color: red; left: 0px;}
}

.animation-timing-function-ease {
    @include animation-box;
    animation-timing-function: ease;
}

.animation-timing-function-linear {
    @include animation-box;
    animation-timing-function: linear;
}

.animation-timing-function-ease-in {
    @include animation-box;
    animation-timing-function: ease-in;
}

.animation-timing-function-ease-out {
    @include animation-box;
    animation-timing-function: ease-out;
}

.animation-timing-function-ease-in-out {
    @include animation-box;
    animation-timing-function: ease-in-out;
}

//animation-fill-mode
@mixin animation-fill {
    animation-name: fillMode;
    animation-duration: 5s;
    animation-delay: 2s;
    position: relative;
}

@keyframes fillMode {
    0% {background-color: red; left: 0px;}
    50% {background-color: green; left: 500px;}
    100% {background-color: blue; left: 500px;}
}

.animation-fill-mode-forwards {
    @include animation-box;
    @include animation-fill;
    animation-fill-mode: forwards;
}

.animation-fill-mode-backwards {
    @include animation-box;
    @include animation-fill;
    animation-fill-mode: backwards;
}

.animation-fill-mode-both {
    @include animation-box;
    @include animation-fill;
    animation-fill-mode: both;
}