html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

//typography
ol,ul {
    list-style: none;
    font-size: 1.125rem;
    text-decoration: none;
    li {

    }
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}


img{
  display:block;
  width:100%; 
  height:100%;
  object-fit: cover;
}