html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--backgroud-color);
    color: var(--text-color);
}

//typography
ol,ul {
    list-style: none;
    font-size: 18px;
    text-decoration: none;
    li{

    }
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: black;
}