
pre {
    color: red;
    text-align: left;

    span {
        color: rgb(71, 71, 71);
        opacity: 0.7;
    }
}

.tags {
    color: green;
    font-weight: bold;
}
.attr {
    color: red;
    font-weight: bold;
}

.attr-value {
    color: blue;
    font-weight: bold;
}