[class$="img"] {
    max-width: 800px;
}
.rounded-border-img {
    border-radius: 25px;
}

.rounded-img {
    border-radius: 50%;
}

.thumbnail-img, .link-img {
    padding: 5px;
    border-radius: 15px;
}

.hover-img {
    margin: auto;
}
.hover-img:hover {
    box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.4), 10px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 15px;
}

.img-filter {
    margin: auto;
    height: 520px;

    img {
    width: 25%;
    height: auto;
    max-width: 235px;
    float: left;
    padding-left: 10px;
    padding-bottom: 8px;
}
    .blur {filter: blur(5px);}
    .brightness {filter: brightness(250%);}
    .contrast {filter: contrast(200%);}
    .grayscale {filter: grayscale(100%);}
    .heurotate {filter: hue-rotate(180deg);}
    .invert {filter: invert(100%);}
    .opacity {filter: opacity(50%);}
    .saturate {filter: sepia(100%);}
    .shadow {filter: drop-shadow(8px 5px 10px green);}
}

.container-overlay {
    position: relative;
    width: 50%;
    margin: auto;
    

    .overlay-img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #008CBA;
        opacity: 0;
        transition: .5s ease;

        .overlay-text {
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


.container-overlay:hover .overlay {
    opacity: 1;
}

.container-overlay .overlay .textBox {
    display: inline-block;
    background-color: #4CAF50;
    font-size: 22px;
    padding: 15px 25px;
    color: white;
    margin: auto;
    position: relative;
    top: 50%;
}