img.non-masked {
    width: 600px;
}

.mask-image {
    mask-image: url(../../img/w3logo.png);
    mask-repeat: no-repeat;
    width: 600px;
}

.mask-image-repeat {
    mask-image: url(../../img/w3logo.png);
    width: 600px;
}


.mask-image-gradient {
    mask-image: linear-gradient(to right, black, transparent);
    width: 600px;
}

.mask-image-gradient-overflow {
    mask-image: linear-gradient(to bottom, black 80%, transparent);
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: url(../../img/respon-img.jpg);
    background-repeat: no-repeat;
    width: 600px;
    height: 300px;
    color: white;
    
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 22px;
    }
}


.mask-image-radial-gradient {
    mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 50%);
    width: 600px;
}