img.non-masked {
    width: 600px;
}

.mask-image {
    mask-image: url(../../img/w3logo.png);
    mask-repeat: no-repeat;
    width: 600px;
}

.mask-image-repeat {
    mask-image: url(../../img/w3logo.png);
    width: 600%;
}

.mask-image-gradient {
    mask-image: linear-gradient(to right, black, transparent);
    height: 100% !important;
}