nav {
    ul {
        background-color: #333;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

        li{
            float: left;
            
        }

        li a {
            display: block;
            text-align: center;
            color: white !important;
            padding: 14px 16px;
            text-decoration: none;
        }
        .about {
            float: right;
        }

        li a:hover {
            background-color: #111;
        }
    }
}