.object-position-1 {
    border: none;
    width: 400px;
    height: 667px;
    object-fit: cover;
    object-position: 10% 100%;
}

.object-position-2 {
    border: none;
    object-fit: cover;
    width: 1000px;
    height: 300px;
    object-position: 100% 10%;
}