[class*='overflow-'] {
    margin: auto;
    width: 200px;
    height: 65px;
    background-color: coral;
}


.container-overflow {
    height: 250px;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    height: 65px !important;
    overflow: hidden;
    z-index: 1;
}

.overflow-scroll {
    overflow: scroll;
    height: 200px;
}

.overflow-auto {
    overflow: auto;
    height: 200px;
}


.overflow-x-y {
    overflow-y: hidden;
    overflow-x: scroll;
    height: 200px;
}