[class*='position'] {
    border: 3px solid #73AD21;
}

.position-static {
    position: static;
}

.position-relative {
    position: relative;
    left: 100px;
}

.position-fixed {
    width: 300px;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgb(221,221,220);
}




.position-relative-parent{
    position: relative;
    width: 750px;
    height: 150px;

}

.position-absolute {
    position: absolute;
    top: 100px;
    right: 0px;
}

.overflow-item {
    background-color: antiquewhite;
    width: 400px;
    height: 150px;
    border: 1px black;
    overflow: scroll;
}

.position-sticky {
    background-color: aqua;
    position: sticky;
    top: 0;
}