[class*='position'] {
    border: 3px solid #73AD21;
}

.position-static {
    position: static;
}

.position-relative {
    position: relative;
    left: 100px;
}

.position-fixed {
    width: 300px;
    color: white;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: blue;
}




.position-relative-parent{
    position: relative;
    width: 750px;
    height: 150px;

}

.position-absolute {
    position: absolute;
    bottom: 0;
    right: 0;
}

.overflow-item {
    background-color: antiquewhite;
    width: 400px;
    height: 150px;
    border: 1px black;
    overflow: scroll;
}

.position-sticky {
    background-color: aqua;
    position: sticky;
    top: 0;
}

img {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
}


.topleft {
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.topright {
    position: absolute;
    top: 20px;
    right: 50px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.bottomright {
    position: absolute;
    bottom: 20px;
    right: 50px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.bottomleft {
    position: absolute;
    bottom: 20px;
    left: 50px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.middle {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.nth li:nth-child(3) {
    color: red;
}


.first-line::first-line {
    color: green;
}

.first-letter::first-letter {
    color: blue;
}