.text-shadow {
    text-shadow: 5px 5px;
    font-size: 22px;
    //first value= horizontal, second value= vertical.
}

.color-shadow {
    text-shadow: 5px 5px red;
    font-size: 22px;
}

.blur-effect {
    text-shadow: 3px 3px 5px blue;
    font-size: 22px;
}

.whiteText-blackShadow {
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 22px;
}