[class^="transition"] {
    height: 100px;
    width: 100px;
    background: red;
    color: white;
    font-size: 15px;
}



.transition-width {
    transition: width 10s;
}

.transition-width:hover {
    width: 1000px;
}

.transition-width-height {
    transition: width 2s, height 12s;
}

.transition-width-height:hover {
    width: 1000px;
    height: 400px;
}

[class*="transition-timing"] {
    transition: width 5s;
}

[class*="transition-timing"]:hover {
    width: 500px;
}



.transition-timing-function-ease {
    transition-timing-function: ease;
}

.transition-timing-function-linear {
    transition-timing-function: linear;
}

.transition-timing-function-ease-in {
    transition-timing-function: ease-in;
}

.transition-timing-function-ease-out {
    transition-timing-function: ease-out;
}

.transition-timing-function-ease-in-out {
    transition-timing-function: ease-in-out;
}

.transition-timing-function-cubic-bezier {
    transition-timing-function: cubic-bezier(.17,.67,.56,.42);
}

.transition-delay {
    transition: width 3s;
    transition-delay: 1s;
}

.transition-delay:hover {
    width: 500px;
}

.transition-transform {
    transition: width 2s, height 2s, transform 2s;
}

.transition-transform:hover {
    width: 300px;
    height: 300px;
    transform: rotate(360deg);
}

.transition-all {
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
}

.transition-all:hover {
    width: 300px;
}

.transition-shorthand {
    transition: width 3s ease-in 1s;
}

.transition-shorthand:hover {
    width: 300px;
}
