[class^="transition"] {
    height: 100px;
    width: 100px;
    background: red;
    color: white;
    font-size: 15px;
}

.transition-width {
    transition: width 10s;
}

.transition-width:hover {
    width: 1000px;
}

.transition-width-height {
    transition: width 2s, height 12s;
}

.transition-width-height:hover {
    width: 1000px;
    height: 400px;
}